@import "tailwindcss";

.buttonsNav {
    @apply px-2 cursor-pointer
}

.textBg {
    @apply hover:bg-gradient-to-r from-[#1192c9] to-[#4961d4] via-[#7f35dd] hover:bg-clip-text hover:text-transparent hover:font-bold 
}

.hover-trans {
    @apply transition-all duration-500 transform 
    hover:[transform:rotateY(15deg)_rotateX(10deg)_translateY(-10px)_scale(1.05)] 
    hover:shadow-2xl
}

@font-face {
    font-family: font1;
    src: url(../fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: font2;
    src: url(../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

.btnHover {
    @apply transition-transform duration-300 ease-out 
    hover:-translate-y-2 hover:shadow-2xl
}